<div class="container">
	<div id="menu">
		<ul>
			<li>
				Connection
				<ul>
					<li><a href="#" data-action="connect">Quick connect</a></li>
					<li><a href="#" data-action="connections">Open stored connection</a></li>
					<li><a href="#" data-action="manage_connection">Manage connections</a></li>
					<li><a href="#" data-action="disconnect">Disconnect</a></li>
				</ul>
			</li>
			<li>
				Tools
				<ul>
					<li>
						<a href="#" data-action="alias">Alias</a>
					</li>
					<li>
						<a href="#" data-action="trigger">Trigger</a>
					</li>
					<li>
						<a href="#" data-action="trigger">Variables</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="control">
		<div id="screen"></div>
		<input type="text" id="cmd" value="" />
	</div>
	<div class="panel">
		<input type="button" value="Connect" id="connect" />
		<input type="button" value="Disconnect" id="disconnect" />
	</div>
	<div class="clear"></div>
</div>

<div id="dialog-connect" title="Quick connect" class="hidden">
	<form>
		<fieldset>
			<label for="host">Host</label>
			<input type="text" name="host" id="host" class="text ui-widget-content ui-corner-all" />
			<label for="port">Port</label>
			<input type="text" name="port" id="port" value="6000" class="text ui-widget-content ui-corner-all" />
		</fieldset>
	</form>
</div>
<div id="dialog-connections" title="Connections" class="hidden">
	<table class="connections">
		<thead>
			<tr>
				<td></td>
				<td>Name</td>
				<td>Host</td>
				<td>Port</td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

<script id="connection-template" type="text">
{%#each connections%}
<tr data-id="{%id%}">
	<td><input type="checkbox" name="connection[{%id%}]" /></td>
	<td>{%name%}</td>
	<td>{%host%}</td>
	<td>{%port%}</td>
</tr>
{%/each%}
</script>