<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet/less" type="text/css" href="css/style.less" />
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/black-tie/jquery-ui.min.css" />
		<script type="text/javascript" charset="utf-8" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

		<script type="text/javascript">
			less = {
				env: "{{site_type}}", // or "production"
				async: false,       // load imports async
				fileAsync: false,   // load imports async when in a page under
									// a file protocol
				poll: 1000,         // when in watch mode, time in ms between polls
				functions: {},      // user functions, keyed by name
				dumpLineNumbers: "comments", // or "mediaQuery" or "all"
				relativeUrls: false,// whether to adjust url's to be relative
									// if false, url's are already relative to the
									// entry less file
				rootpath: ":/a.com/"// a path to add on to the start of every url
									//resource
			};
		</script>



		<script type="text/javascript" charset="utf-8" src="/js/less.js"></script>



		{{#each libraries}}
		<script type="text/javascript" charset="utf-8" src="{{this}}"></script>
		{{/each}}
	</head>
	<body>
		{{{body}}}
	</body>
</html>
